.footer__policy {
  color: #242424;
  font-family: 'FormularLight';
  font-size: 14px;
  line-height: 1.21;
  font-weight: 300;
  margin-bottom: 59px;
}

.footer__policy:link {
  text-decoration: underline;
}

.footer__policy:hover {
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .footer__policy {
    margin-bottom: 0;
  }

  .footer__policy:link {
    text-decoration: none;
  }

  .footer__policy:hover {
    text-decoration: underline;
  }
}