.footer__design-link {
  color: #242424;
  font-family: 'FormularLight';
  font-size: 14px;
  line-height: 1.21;
  font-weight: 300;
  max-width: 169px;
}

.footer__design-link:link {
  text-decoration: underline;
}

.footer__design-link:hover {
  text-decoration: none;
}