.body {
  --main-text-color:#242424;
  --main-bg-color:#ecebe8;
  --main-accent-color:#b7c09d;
  background: #ECEBE8;
}
.body.lock {
  overflow: hidden;
}

/* Custom Scrollbar */
.body::-webkit-scrollbar {
  width: 0.80em;
}

.body::-webkit-scrollbar-track {
  border-radius: 100vw;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
  background-clip: content-box;
}

.body::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: #242424;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.body::-webkit-scrollbar-thumb:hover {
  border: .15em solid #ECEBE8;
}
