.footer__partner {
  list-style: none;
  width: 182px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.footer__partner:nth-child(2n) {
  justify-content: start;
}