@import url(../vendor/normalize/normalize.css);
@import url(../vendor/fonts/fonts.css);

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.h1 {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}